### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [102]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load 
purchase_data = "/Users/monicamoussavi/pandas-challenge/**HeroesOfPymoli**/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(purchase_data)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [146]:
#Find total players using value_counts to only count unique values

# Total Number of Players
total_players = len(purchase_data["SN"].unique())
total_players

# Create Summary DataFrame
player_count_table = pd.DataFrame({"Total Players": [total_players]})
player_count_table

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [104]:
#Find total number of unique items 
unique_items=purchase_data['Item ID'].nunique()
unique_items

183

In [105]:
#Find average price of items
average_price=round(purchase_data['Price'].mean(),2)
average_price

3.05

In [106]:
#Find total amount of purchases 
purchase_number=purchase_data['Purchase ID'].count()
purchase_number

780

In [107]:
#Find total revenue 
total_revenue = round(purchase_data['Price'].sum(),2)
total_revenue

2379.77

## Gender Demographics

In [108]:
#Display above findings in dataframe
purchasing_analysis_dicts = [{"Number of Unique Items": (unique_items),"Average Price": (average_price), "Number of Purchases": (purchase_number), "Total Revenue": (total_revenue)}]
purchasing_analysis = pd.DataFrame(purchasing_analysis_dicts)
purchasing_analysis

#Format dataframe to add dollar signs
format_dict = {'Average Price':'${0:,.2f}', 'Total Revenue': '${0:,.2f}'}
purchasing_analysis.style.format(format_dict).hide_index()

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [109]:
#Only pull gender count from unique SN's
total_count=purchase_data['SN'].nunique()

#Count and percentage of males
male1= purchase_data.groupby(['Gender']).get_group(('Male'))
male2= len(male1['SN'].unique())
malePercent=(male2/total_count)

#Count and percentage of females
female1= purchase_data.groupby(['Gender']).get_group(('Female'))
female2= len(female1['SN'].unique())
femalePercent=(female2/total_count)

#Count and Percentage of Other / Non-Disclosed Players
other1= purchase_data.groupby(['Gender']).get_group(('Other / Non-Disclosed'))
other2= len(other1['SN'].unique())
otherPercent=(other2/total_count)

#Create dataframe for gender demographics 
gender_demographics_table = pd.DataFrame([{
    "Gender": "Male", "Total Count": male2, 
    "Percentage of Players": malePercent}, 
    {"Gender": "Female", "Total Count": female2, 
     "Percentage of Players": femalePercent}, 
    {"Gender": "Other / Non-Disclosed", "Total Count": other2, 
     "Percentage of Players": otherPercent
    }], columns=["Gender", "Total Count", "Percentage of Players"])
gender_demographics_table

#Format the table 
format_dict = {'Percentage of Players':'{:.2%}'}
gender_demographics_table.style.format(format_dict).hide_index()


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [110]:
#Purchase Counts
malePC=len(male1)
femalePC=len(female1)
otherPC=len(other1)

#Average Purchase Price 
maleAP=(male1["Price"].sum())/len(male1["Price"])
femaleAP=(female1["Price"].sum())/len(female1["Price"])
otherAP=(other1["Price"].sum())/len(other1["Price"])

#Total purchase value by gender 
maleTPV=male1["Price"].sum()
femaleTPV=female1["Price"].sum()
otherTPV=other1["Price"].sum()

#Find average total purchase per person
maleTPP=(maleTPV/male2)
femaleTPP=(femaleTPV/female2)
otherTPP=(otherTPV/other2)

#Create dataframe for purchasing analysis by gender 
gender_purchasing_table = pd.DataFrame([{
    "Gender": "Male", "Purchase Count": malePC, 
    "Average Purchase Price": maleAP,"Total Purchase Value":maleTPV,"Average Total Purchase Per Person": maleTPP}, 
    {"Gender": "Female", "Purchase Count": femalePC, 
     "Average Purchase Price": femaleAP,"Total Purchase Value":femaleTPV,"Average Total Purchase Per Person": femaleTPP}, 
    {"Gender": "Other / Non-Disclosed", "Purchase Count": otherPC, 
     "Average Purchase Price": otherAP,"Total Purchase Value":otherTPV,"Average Total Purchase Per Person": otherTPP
    }], columns=["Gender","Purchase Count","Average Purchase Price", "Total Purchase Value","Average Total Purchase Per Person",])
gender_purchasing_table

#Format dataframe
format_dict = {'Average Purchase Price':'${0:,.2f}', 'Total Purchase Value': '${0:,.2f}','Average Total Purchase Per Person': '${0:,.2f}'}
gender_purchasing_table.style.format(format_dict).hide_index()

## Age Demographics

* Establish bins for ages
* Categorize the existing players using the age bins. Hint: use pd.cut()
* Calculate the numbers and percentages by age group
* Create a summary data frame to hold the results
* Optional: round the percentage column to two decimal points
* Display Age Demographics Table

In [101]:
#Find max and min ages
#max_age=purchase_data["Age"].max()
#min_age=purchase_data["Age"].min()
#print(min_age,max_age)

7 45

In [120]:
#Extablish bins for the ages 
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 46]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Place Data Series Into New Column Inside DataFrame
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins=age_bins, labels=bin_names)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,101,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [162]:
# Create a GroupBy Object Based Upon "Age Group"
age_group = purchase_data.groupby("Age Group")

# Count Total Players by Age Category
ageTC = age_group["SN"].nunique()

# Calculate Percentages by Age Category 
agePER = (ageTC / total_players)

# Create Summary DataFrame
age_demographics_table = pd.DataFrame({
    "Total Count": ageTC, 
    "Percentage of Players": agePER
})
age_demographics_table

#Format the table 
format_dict = {'Percentage of Players':'{:.2%}'}
age_demographics_table.style.format(format_dict)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [194]:
#Use above bins
#Find purchase count by age 
agePC = age_group["SN"].count()
agePC

# Calculate "Average Purchase Price"
ageAPP = age_group["Price"].mean()
ageAPP

## Calculate "Total Purchase Value"
ageTPV = age_group["Price"].sum()
ageTPV

# Calculate "Avg Total Purchase per Person"
ageAvgTPP =(ageTPV/ageTC)
ageAvgTPP

# Create Summary DataFrame
age_purchasing_analysis_table = pd.DataFrame({
    "Purchase Count": agePC, 
    "Average Purchase Price": ageAPP,
    "Total Purchase Value": ageTPV,
    "Average Total Purchase per Person": ageAvgTPP
})
age_purchasing_analysis_table 

#Format dataframe
format_dict = {'Average Purchase Price':'${0:,.2f}', 'Total Purchase Value': '${0:,.2f}','Average Total Purchase per Person': '${0:,.2f}'}
age_purchasing_analysis_table.style.format(format_dict)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [195]:
#Groupby SN
top_spenders = purchase_data.groupby("SN")

# Calculate "Purchase Count" for each screen name
spenderPC= top_spenders["Purchase ID"].count()
spenderPC

#Find Average Purchase Price 
spenderAPP= top_spenders["Price"].mean()
spenderAPP

# Calculate "Total Purchase Value"
spenderTPV = top_spenders["Price"].sum()

# Create Summary DataFrame
top_spenders_table = pd.DataFrame({ 
    "Purchase Count": spenderPC,
    "Average Purchase Price": spenderAPP,
    "Total Purchase Value": spenderTPV
})
top_spenders_table

#Format Dataframe
sort_top_spenders = top_spenders_table.sort_values(["Total Purchase Value"], ascending=False).head()
sort_top_spenders

format_dict = {'Average Purchase Price': '${0:,.2f}','Total Purchase Value': '${0:,.2f}'}
sort_top_spenders.style.format(format_dict)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [196]:
# Identify the 5 Most Popular Items by Creating New DataFrame
popular_items_list = purchase_data[["Item ID", "Item Name", "Price"]]

# GroupBy "Item ID" & "Item Name"
popular_items = popular_items_list.groupby(["Item ID","Item Name"])

# Calculate "Purchase Count"
item_purchase_count = popular_items["Price"].count()

# Calculate "Item Price"
item_price = popular_items["Price"].sum()

# Calculate "Total Purchase Value" 
item_purchase_value = item_price / item_purchase_count

# Create Summary DataFrame
most_popular_items = pd.DataFrame({
    "Purchase Count": item_purchase_count, 
    "Item Price": item_purchase_value,
    "Total Purchase Value": item_price
})
most_popular_items

#Format Dataframe
popular_items = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()
popular_items

format_dict = {'Item Price': '${0:,.2f}','Total Purchase Value': '${0:,.2f}'}
popular_items.style.format(format_dict)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [197]:
#Display most profitable items 
popular_items = most_popular_items.sort_values(["Total Purchase Value"], ascending=False).head()
popular_items

#Format dataframe
format_dict = {'Item Price': '${0:,.2f}','Total Purchase Value': '${0:,.2f}'}
popular_items.style.format(format_dict)

*Observable Trends 
*1. The male gender makes up around 84% of total players, however both the female/other-non disclosed spend a higher amount per person. 
*2. The age demographic (20-24) makes up about 45% of total players with a total purchase value of $1,114.06. This may be due to the fact that this age group mainly consists of college students and recents graduates. They have more free time than their older counter parts, but more purchasing power than than the next largest age group (15-19).